// Fonts
$font-family-body: "Helvetica", sans-serif;
$font-family-mono: "Helvetica", sans-serif;
$font-family-tt: "Helvetica", sans-serif;
$font-size: 16px;
$line-height: 1.725;
$page-width: 48rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: false;
// Colors
$colors: "dark" // white dark light classic